basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:openldap,DNS:ldap.test,DNS:localhost,DNS:host.docker.internal,IP:127.0.0.1
